* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-image: url("https://images.ctfassets.net/l5fkpck1mwg3/3dASaaG0DG3aGDOikeVEHd/02a3e6e0e28393c96b5f60fbcf47de41/BWW_Omni_Web_BulleitBourbonBBQ_MainBanner2_DesktopBackground_4000x1650.jpg?&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #cccccc;
    height: 637px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none;
  }

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 35px;
    margin-top: 0;
    background-color: #350000;
    height: 60px;
    border-radius: 0 0 12px 12px;
}

.header .logo {
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

.header ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .btn {
    width: 100px;
    background-color: rgb(117, 18, 18);
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

.header .btn:hover {
    background-color:rgb(255, 123, 0);
    color: rgb(117, 18, 18);
    border: 2px;
}

.profile-image {
    background: rgb(255, 72, 0);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h3 {
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

li {
    padding: 14px;
}

li a, .flex-item-2 h3, .footer a {
    color: rgb(255, 251, 0);
    font-weight: bold;
}

a:visited, li a, .flex-item-2 a, .footer a {
    text-decoration: none;
}

a:hover, .flex-item-2 h3:hover, .footer a:hover {
    color: rgb(184, 240, 128);
}

.flex-container {
    display: flex;
}  

.flex-item {
    margin: 35px;
    background-color: rgb(117, 18, 18);
    padding-right: 20px;
}

.flex-item.top-recipe {
    max-height: 400px;
}

.flex-item.news {
    padding: 12px;
    display: flex;
    flex: 2 1 0%;
}

.news-image img{
    height: auto;
    width: 200px;
    padding: 12px;
}

.flex-item.news h3 {
    padding-left: 12px;
}

@media only screen and (max-width: 900px) {
    .flex-item.news {
        flex-direction: column;
    }

    .flex-item {
        margin: 10px;
    }
}

.sub-title h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.flex-container-2 {
    margin: 35PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(117, 18, 18);
    padding: 12px;
    padding-bottom: 60px;
}

.flex-item-2 img {
    height: auto;
    width: 350px;
    border-radius: 5px;
}

.flex-item-2 h3 {
    padding-left:  0;
}

@media only screen and (max-width: 900px) {
    .flex-container-2 {
        flex-direction: column;
        width: 70%;
        align-self: center;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #350000;
}